html,
body,
.box {
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
}

.box {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    height: 0.47rem;
    display: flex;
    flex-direction: row;
    background: linear-gradient(265deg, rgba(90, 144, 237, 1) 8%, rgba(76, 167, 248, 1) 100%);
}

.top {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.top input {
    width: 95%;
    height: 0.29rem;
    margin: 0 auto;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 1px 5px 0px rgba(7, 43, 105, 0.43);
    opacity: 0.2;
    border-radius: 14px;
    font-size: 13px;
    padding-left: 0.3rem;
    box-sizing: border-box;
}

.top input::-webkit-input-placeholder {
    color: black;
}

.top i {
    position: absolute;
    left: 0.2rem;
    top: 0.12rem;
}


/* 内容 */

section {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
}

.center {
    width: 100%;
    height: 1.084rem;
    display: flex;
    flex-direction: row;
    margin-top: 0.09rem;
    background: #fff;
}

.center-left {
    width: 0.453rem;
    height: 0.453rem;
    border-radius: 50%;
    background: rgba(215, 232, 252, 1);
    opacity: 0.62;
    margin-top: 0.16rem;
    margin-left: 0.25rem;
    font-size: 0.22rem;
    font-family: PingFangSC;
    font-weight: 400;
    color: rgba(89, 146, 238, 1);
    text-align: center;
    line-height: 0.4rem;
    margin-right: 0.11rem;
}

.center-right {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.center-right-top {
    width: 100%;
    height: 0.7rem;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.name {
    font-size: 15px;
    font-family: PingFangSC;
    color: rgba(73, 73, 73, 1);
    margin-top: 0.23rem;
}

.check {
    width: 0.73rem;
    height: 0.26rem;
    background: rgb(239, 133, 51);
    position: absolute;
    top: 0.15rem;
    right: -0.12rem;
    border-radius: 0.2rem;
    text-align: center;
    line-height: 0.26rem;
    font-size: 0.1rem;
    color: rgba(255, 255, 255, 1);
}

.id {
    font-size: 10px;
    font-weight: 400;
    color: rgba(153, 153, 153, 1);
    margin-top: 0.08rem;
}

.center-right-bottom {
    width: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.position {
    font-size: 10px;
    color: #666666;
    font-weight: 400;
}

.time {
    font-size: 10px;
    color: #666666;
    font-weight: 400;
    margin-right: 0.56rem;
}


/* 底部 */

footer {
    width: 100%;
    height: 0.46rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #fff;
}

.nav {
    width: 20%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.nav i {
    color: #7C7C7C;
    font-size: 0.1rem;
}